.root{
	-fx-background-color: linear-gradient(#FFFFFF, #C5CAE9);
	-fx-font-size: 14.0pt;
	-fx-font-family: "Helvetica";
}
.label-welcome{
	-fx-font-size: 50.0pt;
	-fx-font-family: "Helvetica";
	-fx-text-fill: #5D4037;
	-fx-padding: 60, 0, 0, 0;
}
.label-menulabel{
	-fx-font-size: 25.0pt;
	-fx-font-family: "Helvetica";
	-fx-text-fill: #5D4037;
	-fx-padding: 60, 0, 0, 0;
}
.label-quiz{
	-fx-font-size: 70.0pt;
	-fx-font-family: "Helvetica";
	-fx-text-fill: #0277BD;
	-fx-padding: 160 0 50 0;
}
.label-stats{
	-fx-font-size: 40.0pt;
	-fx-font-family: "Helvetica";
	-fx-text-fill: #0277BD;
}
.label-custom{
	-fx-font-size: 35.0pt;
	-fx-font-family: "Helvetica";
	-fx-text-fill: #0277BD;
}
.label-numCorrect{
	-fx-font-size: 40.0pt;
	-fx-font-family: "Helvetica";
	-fx-text-fill: #AA4077;
	-fx-padding: 180 0 50 0;
}
.label-correct{
	-fx-font-size: 60.0pt;
	-fx-font-family: "Helvetica";
	-fx-text-fill: #76FF03;
	-fx-padding: 180 0 50 0;
}
.label-incorrect{
	-fx-font-size: 27.0pt;
	-fx-font-family: "Helvetica";
	-fx-text-fill: #D32F2F;
	-fx-padding: 180 0 50 0;
}
.label-tryAgain{
	-fx-font-size: 27.0pt;
	-fx-font-family: "Helvetica";
	-fx-text-fill: #FF9800;
	-fx-padding: 180 0 50 0;
}
.label-questionCounter{
	-fx-font-size: 22.0pt;
	-fx-font-family: "Helvetica";
	-fx-text-fill: #000000;
	-fx-padding: 180 0 50 0;
}
.label-dynamicScore{
	-fx-font-size: 22.0pt;
	-fx-font-family: "Helvetica";
	-fx-text-fill: #000000;
	-fx-padding: 180 0 50 0;
}
.button-menu{
    -fx-background-color: linear-gradient(#311B92, #3949AB);
    -fx-text-fill: #E1F5FE;
    -fx-font-size: 20.0pt;
    -fx-background-radius: 2;
    -fx-pref-width: 400;
    -fx-pref-height: 55;

}
.button-back{
	-fx-background-color: #F44336;
    -fx-text-fill: #E1F5FE;
    -fx-background-radius: 2;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
}
.button-function{
    -fx-background-color: linear-gradient(#BDBDBD, #9E9E9E);
    -fx-text-fill: #E1F5FE;
    -fx-background-radius: 2;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
}
.button-graph{
    -fx-background-color: #800000;
    -fx-text-fill: #E1F5FE;
    -fx-background-radius: 2;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
}
.button-menuClick{
    -fx-background-color: linear-gradient(#311B92, #3949AB);
    -fx-text-fill: #E1F5FE;
    -fx-font-size: 20.0pt;
    -fx-background-radius: 2;
    -fx-pref-width: 400;
    -fx-pref-height: 60;

}
.button-backClick{
	-fx-background-color: #F44336;
    -fx-text-fill: #E1F5FE;
    -fx-background-radius: 2;
}
.button-recordClick{
    -fx-background-color: linear-gradient(#BDBDBD, #9E9E9E);
    -fx-text-fill: #E1F5FE;
    -fx-font-size: 20.0pt;
    -fx-background-radius: 2;
    -fx-pref-width: 400;
    -fx-pref-height: 60;
}
.button-functionClick{
    -fx-background-color: linear-gradient(#BDBDBD, #9E9E9E);
    -fx-text-fill: #E1F5FE;
    -fx-font-size: 20.0pt;
    -fx-background-radius: 2;
    -fx-pref-width: 400;
    -fx-pref-height: 60;
}